<div class="container">
    <h2>Rooms</h2>
    <button mat-raised-button color="primary" (click)="openRoomForm()">Add Room</button>
    
    <table mat-table [dataSource]="rooms" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let room"> {{room.id}} </td>
      </ng-container>
      
      <ng-container matColumnDef="roomName">
        <th mat-header-cell *matHeaderCellDef> Room Name </th>
        <td mat-cell *matCellDef="let room"> {{room.roomName}} </td>
      </ng-container>
      
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let room">
          <button mat-icon-button color="primary" (click)="openRoomForm(room)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteRoom(room.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>