<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Room Booking System</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/bookings" routerLinkActive="active">
        <mat-icon>calendar_today</mat-icon>
        <span class="nav-label">Bookings</span>
      </a>
      <a mat-list-item routerLink="/rooms" routerLinkActive="active">
        <mat-icon>meeting_room</mat-icon>
        <span class="nav-label">Rooms</span>
      </a>
      <a mat-list-item routerLink="/persons" routerLinkActive="active">
        <mat-icon>people</mat-icon>
        <span class="nav-label">Persons</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>